<!-- COPY FORMS -->
<div id="train_pdf" class="c_hide">
        <div>
            <img src="assets/site-img/Train- Selected.png" height="75" width="300" alt="" />
        </div>
        <div>
            <div id="train_name"></div>
            <div id="train_email"></div>
            <br>
            <br>
            <div>
                <h6 class="c_blue">- What is your industry/field?</h6>
                <div id="train_a1"></div>
            </div>
            <div>
                <h6 class="c_blue">- Would you prefer language that is more
                    geared toward someone in an executive position [T1] or a technical one
                    [T2]?</h6>
                <div id="train_a2"></div>
            </div>
            <br>
            <div>
                <h6 class="c_blue">- How would you rate your experience level
                    w/r/t Salesforce?</h6>
                <div id="train_a3"></div>
            </div>
            <br>
            <div>
                <h6 class="c_blue">- What Salesforce Marketing Cloud products
                    are you interested in learning how to operate?</h6>
                <div id="train_a4"></div>
            </div>
            <br>

            <!-- OTHER -->
            <div>
                <h6 class="c_blue">- Other</h6>
                <div id="train_a5"></div>
            </div>
            <br>
            <div>
                <h6 class="c_blue">- Do you want to learn more about
                    CASL?
                </h6>
                <div id="train_a6"></div>
            </div>
        </div>
    </div>

    <div id="build_pdf" class="c_hide">
        <div>
            <img src="assets/site-img/Build- Selected.png" height="75" width="225" alt="" />
        </div>
        <div>
            <div id="build_name"></div>
            <div id="build_email"></div>
            <br>
            <br>
            <div>
                <h6 class="c_orange">- What is your industry/field?</h6>
                <div id="build_a1"></div>
            </div>
            <br>
            <div>
                <h6 class="c_orange">- What kind of build do you need?</h6>
                <div id="build_a2"></div>
            </div>
            </br>
            <!-- OTHER -->
            <div>
                <h6 class="c_orange">Other</h6>
                <div id="build_a2_other"></div>
            </div>
            <br>
            <div>
                <h6 class="c_orange">- Do you have a data schema?</h6>
                <div id="build_a3"></div>
            </div>
            <br>
            <div>
                <h6 class="c_orange">- What elements of the customer journey are you targeting?</h6>
                <div id="build_a4"></div>
            </div>
            <br>
            <!-- OTHER -->
            <div>
                <h6 class="c_orange">Other</h6>
                <div id="build_a4_other"></div>
            </div>
            <br>
            <div>
                <h6 class="c_orange">- What elements of the customer journey are you targeting?</h6>
                <div id="build_a5"></div>
            </div>
            <br>
            <!-- OTHER -->
            <div>
                <h6 class="c_orange">Other</h6>
                <div id="build_a5_other"></div>
            </div>
            <br>
            <div>
                <h6 class="c_orange">- Please briefly describe the scope of the project (timing, number of emails, etc.)</h6>
                <div id="build_a6"></div>
            </div>
        </div>
    </div>

    <div id="assess_pdf" class="c_hide">
        <div>
            <img src="assets/site-img/Assess- Selected.png" height="75" width="225" alt="" />
        </div>
        <div>
            <div id="assess_name"></div>
            <div id="assess_email"></div>
            <br>
            <br>
            <div>
                <h6 class="c_green">- What is your industry/field?</h6>
                <div id="assess_a1"></div>
            </div>
            <div>
                <h6 class="c_green">- Do you have customer data to use?</h6>
                <div id="assess_a2"></div>
            </div>
            <br>
            <div>
                <h6 class="c_green">- What elements of the customer journey are you targeting?</h6>
                <div id="assess_a3"></div>
            </div>
            <br>
            <!-- OTHER -->
            <div>
                <h6 class="c_green">Other</h6>
                <div id="assess_a3_other"></div>
            </div>
            <br>
            <div>
                <h6 class="c_green">- What digital communication channels will you be using to reach customers?</h6>
                <div id="assess_a4"></div>
            </div>
            <br>
            <!-- OTHER -->
            <div>
                <h6 class="c_green">Other</h6>
                <div id="assess_a4_other"></div>
            </div>
            <br>
            <div>
                <h6 class="c_green">- Do you want to learn more about CASL?</h6>
                <div id="assess_a5"></div>
            </div>
        </div>
    </div>

    <div id="optimize_pdf" class="c_hide">
        <div class="center-align">
            <img src="assets/site-img/Optimize - Selected.png" height="75" width="225" alt="" />
        </div>
        <div>
            <div id="optimize_name"></div>
            <div id="optimize_email"></div>
            <br>
            <br>
            <div>
                <h6 class="c_purple">- What is your industry/field?</h6>
                <div id="optimize_a1"></div>
            </div>
            <div>
                <h6 class="c_purple">- Are you looking to optimize your platform use [O1], or the deployment process
                    [O2]?</h6>
                <div id="optimize_a2"></div>
            </div>
            <br>
            <div>
                <h6 class="c_purple">- Platform Use [O1]</h6>
                <div id="optimize_a2_o1"></div>
            </div>
            <br>
            <div>
                <h6 class="c_purple">- Deployment Process [O2]</h6>
                <div id="optimize_a2_o2"></div>
            </div>
            <br>
            <div>
                <h6 class="c_purple">- What elements of the customer journey are you targeting?</h6>
                <div id="optimize_a3"></div>
            </div>
            <br>
            <!-- OTHER -->
            <div>
                <h6 class="c_purple">- Other</h6>
                <div id="optimize_a3_other"></div>
            </div>
        </div>
    </div>


    <!-- ------------------------------------------- SUBMIT MODAL ------------------------------------------- -->
    <div id="submit_modal" class="modal">
        <form id="modal_form">
            <div id="submit_modal_form" class="modal-content">
                <h4><span class="card-title secondary">Confirm Submission</span></h4>
                <h6 class="primary subheading-font">
                    Please leave your name and email so we can get back to you.
                </h6>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="user_name" name="user_name" type="text" class="validate">
                        <label for="user_name">Full Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="email_input" name="email_input" type="email" class="validate">
                        <label for="email_input">Email</label>
                    </div>
                </div>
            </div>

            <div id="submit_modal_spn" class="modal-content center-align c_hide">
                <h4><span class="card-title secondary">Thank You - Sending Application now...</span></h4>
                <br>
                <br>
                <div class="preloader-wrapper big active">
                    <div class="spinner-layer">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="submit_modal_done" class="modal-content center-align c_hide">
                <h4><span class="card-title secondary">Sent - Thank You!</span></h4>
            </div>

            <div class="modal-footer">
                <button id="modal_submit" type="submit" class="waves-effect waves-green btn-flat primary">Send</button>
                <a id="modal_close" onclick="relayNameSpace.reset()"
                    class="modal-close waves-effect waves-green btn-flat primary">Close</a>
            </div>
        </form>
    </div>