.full-height {
    min-height: 100vh;
}

.c_button:hover {
    cursor: pointer !important;
}

.c_hide {
    display: none;
}

/* --------------------------------- COLOURS --------------------------------- */
.c_blue {
    color: #00B0C0 !important;    
}

.c_orange {
    color: #E29032 !important;
}

.c_green {
    color: #A3CF6E !important;
}

.c_purple {
    color: #916892 !important;
}

.error {
    color: red !important;
}