.full-height {
    min-height: 90vh;
}

.about-height {
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
}

.c_button:hover {
    cursor: pointer !important;
}

.c_hide {
    display: none;
}

a {
    cursor: pointer;
}

p {
    font-size: 1.3em;
}

.no-margin {
    margin-bottom: 0px;
}

.about-font {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto Mono', monospace;
}

/* --------------------------------- COLOURS --------------------------------- */
.c_blue {
    color: #00B0C0 !important;    
}

.c_blue_bg {
    background-color: #00B0C0 !important;    
}


.c_orange {
    color: #E29032 !important;
}

.c_orange_bg {
    background-color: #E29032 !important;    
}

.c_green {
    color: #A3CF6E !important;
}

.c_green_bg {
    background-color: #A3CF6E !important;
}

.c_purple {
    color: #916892 !important;
}

.c_purple_bg {
    background-color: #916892 !important;
}

.error {
    color: red !important;
}

// .about-bg {    
//     background: -webkit-linear-gradient(90deg, #00B0C0  30%, rgba(0,0,0,0) 30%), -webkit-linear-gradient(90deg, #E29032  50%, rgba(0,0,0,0) 50%), -webkit-linear-gradient(90deg, #A3CF6E  75%, #916892 75%);
//     background: -o-linear-gradient(90deg, #00B0C0  30%, rgba(0,0,0,0) 30%), -o-linear-gradient(90deg, #E29032  50%, rgba(0,0,0,0) 50%), -o-linear-gradient(90deg, #A3CF6E  75%, #916892 75%);
//     background: -moz-linear-gradient(90deg, #00B0C0  25%, rgba(0,0,0,0) 25%), -moz-linear-gradient(90deg, #E29032  50%, rgba(0,0,0,0) 50%), -moz-linear-gradient(90deg, #A3CF6E  75%, #916892 75%);
//     background: linear-gradient(90deg, #00B0C0  25%, rgba(0,0,0,0) 25%), linear-gradient(90deg, #E29032  50%, rgba(0,0,0,0) 50%), linear-gradient(90deg, #A3CF6E  75%, #916892 75%);
// }

.color-cycle {
    background-color: #00B0C0 !important;
    animation: wheelHueColor 7s infinite;
}

@keyframes wheelHueColor {
    from, to { background: #00B0C0 }
    25%      { background: #E29032 }
    50%      { background: #A3CF6E }
    75%      { background: #916892 }
}

.tabs .tab a:hover {
    background-color:#eee;
    color:#000;
} /*Text color on tab hover*/
